/*     ---   RESETS   ---     */
html {
    scroll-behavior: smooth;
}
body{
    margin: 0; 
    padding: 0;
}
footer{
    margin: 0;
    padding: 0;
}
a,
a:active,
a:visited,
a:hover{
    text-decoration: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*    ---   GLOBALS   ---    */

.hero{    
    /* background: linear-gradient(90deg, #f4fcff78, #afdeff78 ,  #f4fcff78 );*/
    background: linear-gradient(45deg, white, #f4fcff78 , #dff2ff78, #acdcff78, #94d2ff78, #acdcff78, #dff2ff78, #f4fcff78, white);
    background-size: 300%;
    animation: color 15s ease-in-out infinite;
}
.hero-teasing{    
    /* background: linear-gradient(90deg, #f4fcff78, #afdeff78 ,  #f4fcff78 );*/
    height: 100vh;
    background: linear-gradient(45deg, white, #f4fcff78 , #dff2ff78, #acdcff78, #94d2ff78, #acdcff78, #dff2ff78, #f4fcff78, white);
    background-size: 300%;
    animation: color 15s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

nav{
    margin-bottom: 0;
    height: 5rem;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0fr 1fr 2fr;
    grid-template-rows: 100%;
    border-radius: 0.5rem;
    z-index: 1001;
}
.kjbrand{
    display: flex;
    justify-content: left;
    align-items: center;
}

.download-but {
    color: whitesmoke;
    background-color: steelblue;
    padding: 10px;
    border-radius: 5px;
}
.download-but:hover {
    color: steelblue;
    background-color: rgba(135, 206, 250, 0.5);
}

.flag{
    width: 30px; 
}

.navigationbar{
    align-items: row;
}

.iloveburgers{
    display: none;
}

.menutitles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menutitles a{
    text-decoration: none;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.1s;
    font-family: 'montserrat', sans-serif;
    font-size: larger;
    transition: all 0.5s ease;
}
.menutitles a:hover{
    transition: all 0.5s ease;
}

.ham{
    width: 50;
    height: 50;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
}

.bur{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ger{
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: rgb(92, 91, 91);
    transition: 0.25s;
}

.q{
    transform-origin: 0 0;
}

.e{
    transform-origin: 0 100%;
}

.q.a{
    transform: rotate(46.5deg) translate(0, -2px);
    width: 28px;
}

.w.b{
    opacity: 0;
    transform: scale(0);
}

.e.c{
    transform: rotate(-45deg) translate(0.5px, 1.5px);
    width: 28px;
}

.imgtitle{
    text-align: center;
    width: 3rem;
    height: 3rem;
}

.hero-img {
    width: 30vw;
    border-radius: 5px;
}

.hero-block {
    padding: 5vh 0;
}

.hero-text{
    text-align: center;
    align-self: center;
    padding: 0 5%;
}
.hero-text-teasing{
    text-align: center;
    align-self: center;
    padding: 25% 0;
}

h1, h2, h3, h4, p, a{
    color: steelblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.hero-title{
    font-size: calc(40px + (50 - 40) * ((100vw - 320px) / (1140 - 320)));
}
h1{
    font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (1140 - 320)));
}
h2{
    font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1140 - 320)));
}
p{
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1140 - 320)));
}
a{
    transition: 0.5s;
}
a:hover{
    text-shadow: skyblue 3px 3px 3px;
    transition: 0.5s;
    color: skyblue;
}

.div-download{
    display: flex;
    justify-content: center;
}
.text-download{
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1500 - 320)));
    color: steelblue;
}
.download-kjos, .download-kjoslite{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
}
.download-kjos-div, .download-kjoslite-div{
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    display: flex;
    color: skyblue;
    border: 8px solid skyblue; 
    border-radius: 25px;
}
.download-kjos-div:hover, .download-kjoslite-div:hover{
    box-shadow: skyblue 3px 3px 3px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    display: flex;
    color: steelblue;
    border: 8px solid steelblue; 
    border-radius: 25px;
}
table{
    width: 100%;
}

.comparison-desk{
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.comparison-desk p{
    margin-top: 3%;
}

footer{
    background-color: whitesmoke;
    height: 200px;
}



/*  ---   RESPONSIVE   ---  */

/* PHONES */
@media (max-width: 767px){
    nav{
        grid-template-columns: 15% 70% 15%;
        border-radius: 0.5rem;
    }
    .kjbrand{
        justify-content: center;
        text-align: center;
        z-index: 2000;
    }
    .flag{
        margin-right: 0;
    }
    .imgtitle{
        justify-content: flex-start;
        align-content: center;
    }
    .iloveburgers{
        display: flex;
        justify-content: center;
        align-items:center;
        z-index: 2000;
    }
    .menutitles{
        position: absolute;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding: 75px 0 30px 0;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: -100;
        transition: 0.25s;
        transform: translate(0, -300px); 
        color: rgb(92, 91, 91);
        background: white;
    }
    .menutitles.show{
        transform: translate(0, 5%);
        z-index: 999;
    }
    .menutitles a{
        color: rgb(92, 91, 91);
    }
    .menutitles{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 100%;
        z-index: -2;
    }
    .pagebody{
        padding: 0 5%;
    }
    .hero-block{
        display: flex;
        flex-direction: column;
    }
    .hero-img-container {
        margin: 0 auto;
    }
    .hero-img {
        width: 75vw;
    }
    .comparison-desk{
        display: none;
    }
    .comparison-phone{
        margin: 0 5%;
        padding: 0 5%;
        display: flex;
    }
    .download-kjos-div, .download-kjoslite-div{
        margin-top: 10px;
        width: 300px;
        height: 200px;
    }
    .download-columns{
        display: flex;
        flex-direction: column;
    }
}


/* TABLETS */
@media (min-width: 768px){
    .kjbrand{
        margin-left: 20%;
    }
    .flag{
        margin-right: 0;
    }
    .pagebody{
        padding: 0 10%;
    }
    .hero-block{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .hero-img-container {
        margin: 0 auto;
    }
    .hero-img {
        width: 70vw;
    }
    .comparison-desk{
        display: none;
    }
    .comparison-phone{
        margin: 0 10%;
        padding: 0 5%;
        display: flex;
    }
    .download-kjos-div, .download-kjoslite-div{
        width: 300px;
        height: 200px;
    }
    .download-columns{
        display: flex;
        flex-direction: row;
    }
}


/* PCs */
@media (min-width: 1024px){
    .hero-img-container {
        margin: 0;
    }
    .hero-img {
        width: 35vw;
    }
    .pagebody{
        padding: 0 15%;
    }
    .hero-block{
        display: flex;
        flex-direction: row;
    }
    .comparison-desk{
        justify-content: start;
        display: flex;
    }
    .comparison-phone{
        display: none;
    }
    .download-kjos-div, .download-kjoslite-div{
        width: 500px;
        height: 200px;
    }
    .download-columns{
        display: flex;
        flex-direction: row;
    }
}